In [1]:
import pandas as pd
import numpy as np

In [2]:
concrete_data = pd.read_csv('https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [3]:
concrete_data.shape

(1030, 9)

In [4]:
#split the data into features and target
concrete_data_columns = concrete_data.columns

predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength'] # Strength column

In [5]:
n_cols = predictors.shape[1]

In [6]:
#import keras
import keras

Using TensorFlow backend.
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:516: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:517: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:518: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:519: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:520: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:525: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:541: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:542: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:543: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:544: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:545: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:550: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

In [7]:
from keras.models import Sequential
from keras.layers import Dense

In [8]:
# define regression model
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

In [12]:
# build the model
model = regression_model()

WARNING:tensorflow:From /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:68: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

WARNING:tensorflow:From /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:508: The name tf.placeholder is deprecated. Please use tf.compat.v1.placeholder instead.

WARNING:tensorflow:From /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:3837: The name tf.random_uniform is deprecated. Please use tf.random.uniform instead.

WARNING:tensorflow:From /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/keras/optimizers.py:757: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

In [9]:
from sklearn.model_selection import train_test_split

/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/sklearn/utils/validation.py:37: DeprecationWarning: distutils Version classes are deprecated. Use packaging.version instead.
  LARGE_SPARSE_SUPPORTED = LooseVersion(scipy_version) >= '0.14.0'

In [10]:
#split training and test data
X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=42)

In [19]:
epochs = 50
model.fit(X_train, y_train, epochs=epochs, verbose=1)

Epoch 1/50
721/721 [==============================] - 0s 47us/step - loss: 327.5136
Epoch 2/50
721/721 [==============================] - 0s 53us/step - loss: 317.4290
Epoch 3/50
721/721 [==============================] - 0s 58us/step - loss: 308.8981
Epoch 4/50
721/721 [==============================] - 0s 54us/step - loss: 303.8847
Epoch 5/50
721/721 [==============================] - 0s 54us/step - loss: 299.7607
Epoch 6/50
721/721 [==============================] - 0s 52us/step - loss: 295.9653
Epoch 7/50
721/721 [==============================] - 0s 55us/step - loss: 292.2097
Epoch 8/50
721/721 [==============================] - 0s 54us/step - loss: 288.3300
Epoch 9/50
721/721 [==============================] - 0s 55us/step - loss: 286.2126
Epoch 10/50
721/721 [==============================] - 0s 55us/step - loss: 282.2918
Epoch 11/50
721/721 [==============================] - 0s 55us/step - loss: 279.5521
Epoch 12/50
721/721 [==============================] - 0s 52us/step - loss: 277.4598
Epoch 13/50
721/721 [==============================] - 0s 58us/step - loss: 274.6570
Epoch 14/50
721/721 [==============================] - 0s 51us/step - loss: 271.4694
Epoch 15/50
721/721 [==============================] - 0s 53us/step - loss: 268.7310
Epoch 16/50
721/721 [==============================] - 0s 55us/step - loss: 266.1491
Epoch 17/50
721/721 [==============================] - 0s 52us/step - loss: 264.5017
Epoch 18/50
721/721 [==============================] - 0s 55us/step - loss: 260.1987
Epoch 19/50
721/721 [==============================] - 0s 53us/step - loss: 258.3382
Epoch 20/50
721/721 [==============================] - 0s 57us/step - loss: 255.3580
Epoch 21/50
721/721 [==============================] - 0s 54us/step - loss: 255.3635
Epoch 22/50
721/721 [==============================] - 0s 54us/step - loss: 250.2731
Epoch 23/50
721/721 [==============================] - 0s 54us/step - loss: 248.5765
Epoch 24/50
721/721 [==============================] - 0s 56us/step - loss: 245.9963
Epoch 25/50
721/721 [==============================] - 0s 51us/step - loss: 243.8551
Epoch 26/50
721/721 [==============================] - 0s 52us/step - loss: 241.4224
Epoch 27/50
721/721 [==============================] - 0s 42us/step - loss: 239.0064
Epoch 28/50
721/721 [==============================] - 0s 57us/step - loss: 235.8589
Epoch 29/50
721/721 [==============================] - 0s 57us/step - loss: 234.8411
Epoch 30/50
721/721 [==============================] - 0s 53us/step - loss: 232.4397
Epoch 31/50
721/721 [==============================] - 0s 54us/step - loss: 230.5022
Epoch 32/50
721/721 [==============================] - 0s 55us/step - loss: 227.5100
Epoch 33/50
721/721 [==============================] - 0s 53us/step - loss: 225.7326
Epoch 34/50
721/721 [==============================] - 0s 57us/step - loss: 224.5032
Epoch 35/50
721/721 [==============================] - 0s 54us/step - loss: 223.5613
Epoch 36/50
721/721 [==============================] - 0s 59us/step - loss: 220.4192
Epoch 37/50
721/721 [==============================] - 0s 53us/step - loss: 221.8013
Epoch 38/50
721/721 [==============================] - 0s 53us/step - loss: 216.0863
Epoch 39/50
721/721 [==============================] - 0s 67us/step - loss: 214.4271
Epoch 40/50
721/721 [==============================] - 0s 40us/step - loss: 212.7944
Epoch 41/50
721/721 [==============================] - 0s 52us/step - loss: 210.5708
Epoch 42/50
721/721 [==============================] - 0s 54us/step - loss: 208.8349
Epoch 43/50
721/721 [==============================] - 0s 54us/step - loss: 207.3263
Epoch 44/50
721/721 [==============================] - 0s 49us/step - loss: 205.4786
Epoch 45/50
721/721 [==============================] - 0s 53us/step - loss: 204.7510
Epoch 46/50
721/721 [==============================] - 0s 52us/step - loss: 205.1271
Epoch 47/50
721/721 [==============================] - 0s 53us/step - loss: 200.8034
Epoch 48/50
721/721 [==============================] - 0s 41us/step - loss: 198.5347
Epoch 49/50
721/721 [==============================] - 0s 45us/step - loss: 198.9930
Epoch 50/50
721/721 [==============================] - 0s 50us/step - loss: 194.6581

In [20]:
loss_val = model.evaluate(X_test, y_test)
y_pred = model.predict(X_test)
loss_val

309/309 [==============================] - 0s 67us/step

209.01743373438765

In [21]:
from sklearn.metrics import mean_squared_error

In [22]:
mean_square_error = mean_squared_error(y_test, y_pred)
mean = np.mean(mean_square_error)
standard_deviation = np.std(mean_square_error)
print(mean, standard_deviation)

209.01742574870534 0.0

In [23]:
total_mean_squared_errors = 50
epochs = 50
mean_squared_errors = []
for i in range(0, total_mean_squared_errors):
    X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=i)
    model.fit(X_train, y_train, epochs=epochs, verbose=0)
    MSE = model.evaluate(X_test, y_test, verbose=0)
    print("MSE "+str(i+1)+": "+str(MSE))
    y_pred = model.predict(X_test)
    mean_square_error = mean_squared_error(y_test, y_pred)
    mean_squared_errors.append(mean_square_error)

mean_squared_errors = np.array(mean_squared_errors)
mean = np.mean(mean_squared_errors)
standard_deviation = np.std(mean_squared_errors)

print('\n')
print("Below is the mean and standard deviation of " +str(total_mean_squared_errors) + " mean squared errors without normalized data. Total number of epochs for each training is: " +str(epochs) + "\n")
print("Mean: "+str(mean))
print("Standard Deviation: "+str(standard_deviation))

MSE 1: 132.15936837304372
MSE 2: 142.3044268166749
MSE 3: 116.31804605132167
MSE 4: 123.52705351203005
MSE 5: 127.09130168038278
MSE 6: 99.05714332555876
MSE 7: 66.96825549671951
MSE 8: 53.071715024682696
MSE 9: 50.951938616805094
MSE 10: 53.1243562914407
MSE 11: 47.38895444653952
MSE 12: 47.05842563172374
MSE 13: 57.22490259435956
MSE 14: 52.268679004656846
MSE 15: 46.97551875438505
MSE 16: 45.19030724682854
MSE 17: 44.559359602943594
MSE 18: 47.75322715981493
MSE 19: 40.71317730752396
MSE 20: 44.96810024224439
MSE 21: 42.15239098311242
MSE 22: 42.108841201634085
MSE 23: 40.516321398293705
MSE 24: 45.44388464276459
MSE 25: 42.56459282439889
MSE 26: 49.54508885750879
MSE 27: 53.061788145392455
MSE 28: 45.72101321421009
MSE 29: 49.482487613715016
MSE 30: 46.301165275203374
MSE 31: 48.782868752587575
MSE 32: 39.21554280870555
MSE 33: 43.9977140210593
MSE 34: 47.83188590879965
MSE 35: 44.378015339181644
MSE 36: 48.2282266832864
MSE 37: 46.50973967518235
MSE 38: 51.805425329115785
MSE 39: 42.67414962126599
MSE 40: 42.15580568035829
MSE 41: 47.21693863606376
MSE 42: 47.31721259552298
MSE 43: 48.294641395988585
MSE 44: 49.523366144174126
MSE 45: 49.828644909905
MSE 46: 45.72305418835489
MSE 47: 45.246346939728866
MSE 48: 45.986047664506536
MSE 49: 45.92423597045701
MSE 50: 46.63976982882108


Below is the mean and standard deviation of 50 mean squared errors without normalized data. Total number of epochs for each training is: 50

Mean: 56.4570291944352
Standard Deviation: 25.556807750642776