In [1]:
import pandas as pd
import numpy as np

In [2]:
concrete_data = pd.read_csv('https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [3]:
concrete_data.shape

(1030, 9)

In [4]:
# split the data into predectors and target
concrete_data_columns = concrete_data.columns
predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength'] # Strength column

In [5]:
# normalize the data 
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

In [6]:
import keras
from keras.models import Sequential
from keras.layers import Dense

Using TensorFlow backend.
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:516: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:517: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:518: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:519: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:520: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:525: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:541: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:542: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:543: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:544: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:545: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:550: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

In [7]:
# define regression model
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(8,)))
    model.add(Dense(10, activation='relu', ))
    model.add(Dense(10, activation='relu', ))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

In [8]:
from sklearn.model_selection import train_test_split

/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/sklearn/utils/validation.py:37: DeprecationWarning: distutils Version classes are deprecated. Use packaging.version instead.
  LARGE_SPARSE_SUPPORTED = LooseVersion(scipy_version) >= '0.14.0'

In [9]:
# split the data into test and training
X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size=0.3, random_state=42)

In [10]:
# build the model
model = regression_model()

WARNING:tensorflow:From /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:68: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

WARNING:tensorflow:From /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:508: The name tf.placeholder is deprecated. Please use tf.compat.v1.placeholder instead.

WARNING:tensorflow:From /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:3837: The name tf.random_uniform is deprecated. Please use tf.random.uniform instead.

WARNING:tensorflow:From /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/keras/optimizers.py:757: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

In [11]:
# fit the model
epochs = 50
model.fit(X_train, y_train, epochs=epochs, verbose=2)

WARNING:tensorflow:From /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:977: The name tf.assign_add is deprecated. Please use tf.compat.v1.assign_add instead.

WARNING:tensorflow:From /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:964: The name tf.assign is deprecated. Please use tf.compat.v1.assign instead.

Epoch 1/50

2024-03-08 21:23:45.536731: I tensorflow/core/platform/cpu_feature_guard.cc:142] Your CPU supports instructions that this TensorFlow binary was not compiled to use: SSE4.1 SSE4.2 AVX AVX2 AVX512F FMA
2024-03-08 21:23:45.546727: I tensorflow/core/platform/profile_utils/cpu_utils.cc:94] CPU Frequency: 2494050000 Hz
2024-03-08 21:23:45.547325: I tensorflow/compiler/xla/service/service.cc:168] XLA service 0x55b30c7a5b80 executing computations on platform Host. Devices:
2024-03-08 21:23:45.547361: I tensorflow/compiler/xla/service/service.cc:175]   StreamExecutor device (0): <undefined>, <undefined>
2024-03-08 21:23:45.665185: W tensorflow/compiler/jit/mark_for_compilation_pass.cc:1412] (One-time warning): Not using XLA:CPU for cluster because envvar TF_XLA_FLAGS=--tf_xla_cpu_global_jit was not set.  If you want XLA:CPU, either set that envvar, or use experimental_jit_scope to enable XLA:CPU.  To confirm that XLA is active, pass --vmodule=xla_compilation_cache=1 (as a proper command-line flag, not via TF_XLA_FLAGS) or set the envvar XLA_FLAGS=--xla_hlo_profile.

 - 0s - loss: 1566.5782
Epoch 2/50
 - 0s - loss: 1542.2224
Epoch 3/50
 - 0s - loss: 1503.6827
Epoch 4/50
 - 0s - loss: 1442.7794
Epoch 5/50
 - 0s - loss: 1349.9094
Epoch 6/50
 - 0s - loss: 1215.1241
Epoch 7/50
 - 0s - loss: 1025.0033
Epoch 8/50
 - 0s - loss: 802.9184
Epoch 9/50
 - 0s - loss: 586.9600
Epoch 10/50
 - 0s - loss: 430.0021
Epoch 11/50
 - 0s - loss: 347.0890
Epoch 12/50
 - 0s - loss: 298.1649
Epoch 13/50
 - 0s - loss: 265.0642
Epoch 14/50
 - 0s - loss: 244.3159
Epoch 15/50
 - 0s - loss: 227.5117
Epoch 16/50
 - 0s - loss: 215.8684
Epoch 17/50
 - 0s - loss: 206.0475
Epoch 18/50
 - 0s - loss: 198.8450
Epoch 19/50
 - 0s - loss: 192.3418
Epoch 20/50
 - 0s - loss: 187.5998
Epoch 21/50
 - 0s - loss: 181.9920
Epoch 22/50
 - 0s - loss: 177.7859
Epoch 23/50
 - 0s - loss: 174.4096
Epoch 24/50
 - 0s - loss: 170.3894
Epoch 25/50
 - 0s - loss: 166.9131
Epoch 26/50
 - 0s - loss: 164.3254
Epoch 27/50
 - 0s - loss: 161.5811
Epoch 28/50
 - 0s - loss: 159.2428
Epoch 29/50
 - 0s - loss: 157.5262
Epoch 30/50
 - 0s - loss: 155.9441
Epoch 31/50
 - 0s - loss: 154.0065
Epoch 32/50
 - 0s - loss: 152.2966
Epoch 33/50
 - 0s - loss: 151.1608
Epoch 34/50
 - 0s - loss: 149.0485
Epoch 35/50
 - 0s - loss: 147.8139
Epoch 36/50
 - 0s - loss: 146.2574
Epoch 37/50
 - 0s - loss: 144.8667
Epoch 38/50
 - 0s - loss: 143.7325
Epoch 39/50
 - 0s - loss: 141.7184
Epoch 40/50
 - 0s - loss: 140.7389
Epoch 41/50
 - 0s - loss: 139.0418
Epoch 42/50
 - 0s - loss: 137.8419
Epoch 43/50
 - 0s - loss: 136.2712
Epoch 44/50
 - 0s - loss: 135.2384
Epoch 45/50
 - 0s - loss: 133.9678
Epoch 46/50
 - 0s - loss: 132.4192
Epoch 47/50
 - 0s - loss: 131.3304
Epoch 48/50
 - 0s - loss: 130.1522
Epoch 49/50
 - 0s - loss: 129.1173
Epoch 50/50
 - 0s - loss: 128.1445

In [12]:
loss_val = model.evaluate(X_test, y_test)
y_pred = model.predict(X_test)
loss_val

309/309 [==============================] - 0s 130us/step

128.9904257271282

In [13]:
from sklearn.metrics import mean_squared_error
mean_square_error = mean_squared_error(y_test, y_pred)
mean = np.mean(mean_square_error)
standard_deviation = np.std(mean_square_error)
print(mean, standard_deviation)

128.9904283413676 0.0

In [14]:
total_mean_squared_errors = 50
epochs = 50
mean_squared_errors = []
for i in range(0, total_mean_squared_errors):
    X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size=0.3, random_state=i)
    model.fit(X_train, y_train, epochs=epochs, verbose=0)
    MSE = model.evaluate(X_test, y_test, verbose=0)
    print("MSE "+str(i+1)+": "+str(MSE))
    y_pred = model.predict(X_test)
    mean_square_error = mean_squared_error(y_test, y_pred)
    mean_squared_errors.append(mean_square_error)

mean_squared_errors = np.array(mean_squared_errors)
mean = np.mean(mean_squared_errors)
standard_deviation = np.std(mean_squared_errors)

print('\n')
print("Below is the mean and standard deviation of " +str(total_mean_squared_errors) + " mean squared errors with normalized data. Total number of epochs for each training is: " +str(epochs) + "\n")
print("Mean: "+str(mean))
print("Standard Deviation: "+str(standard_deviation))

MSE 1: 63.151805396218904
MSE 2: 61.01864482052504
MSE 3: 44.61177880247048
MSE 4: 39.64164973385512
MSE 5: 36.062145591167955
MSE 6: 36.43107470416714
MSE 7: 34.383413913566315
MSE 8: 30.11572896469758
MSE 9: 31.749489213270664
MSE 10: 29.251283719701675
MSE 11: 27.90373194179103
MSE 12: 24.477271854684577
MSE 13: 26.667249475868005
MSE 14: 30.636766230018395
MSE 15: 25.271573656199433
MSE 16: 20.406009834561146
MSE 17: 24.35750031085462
MSE 18: 24.146480288706165
MSE 19: 21.440922950077983
MSE 20: 28.158072703093
MSE 21: 24.12638912386107
MSE 22: 21.571043323158833
MSE 23: 21.003812425730683
MSE 24: 21.684882555964695
MSE 25: 23.833025006414616
MSE 26: 24.917104326019782
MSE 27: 21.01421363608351
MSE 28: 20.031906556928814
MSE 29: 22.38160848154605
MSE 30: 18.98738679608095
MSE 31: 21.570352437040953
MSE 32: 19.945223132383475
MSE 33: 19.748806666401983
MSE 34: 20.391747817252448
MSE 35: 23.278091677570036
MSE 36: 24.30101659459975
MSE 37: 16.62669092628948
MSE 38: 20.69899032494011
MSE 39: 20.31514344632047
MSE 40: 16.89766033567657
MSE 41: 20.508622962680064
MSE 42: 16.724424883771484
MSE 43: 20.359009258183846
MSE 44: 22.437260217265404
MSE 45: 22.258059677568454
MSE 46: 20.368935600453597
MSE 47: 17.887799926560287
MSE 48: 20.521696257359775
MSE 49: 20.09673237106175
MSE 50: 22.387225799190187


Below is the mean and standard deviation of 50 mean squared errors with normalized data. Total number of epochs for each training is: 50

Mean: 25.73514908152903
Standard Deviation: 9.46724097790383